In [ ]:
#Method #3: Using Dataframe.assign() method

In [ ]:
# df.head()
# df.tail()
# df.sample(3)
# df.shape
# df[2:5]
# df.columns

In [2]:
import pandas as pd
df=pd.DataFrame({
    'Day':['1/1/2021','2/1/2021','3/1/2021','4/1/2021','5/1/2021'],
    'Whether':['Rainy','Sunny','Snow','Rainy','Sunny'],
    'Temp':[33,34,43,32,23],
    'Wind':[3,5,7,1,2]
})
df

        Day Whether  Temp  Wind
0  1/1/2021   Rainy    33     3
1  2/1/2021   Sunny    34     5
2  3/1/2021    Snow    43     7
3  4/1/2021   Rainy    32     1
4  5/1/2021   Sunny    23     2

In [3]:
df['Day'].dtypes

dtype('O')

In [4]:
df['Whether'].dtypes

dtype('O')

In [5]:
df['Temp'].dtypes

dtype('int64')

In [6]:
df

        Day Whether  Temp  Wind
0  1/1/2021   Rainy    33     3
1  2/1/2021   Sunny    34     5
2  3/1/2021    Snow    43     7
3  4/1/2021   Rainy    32     1
4  5/1/2021   Sunny    23     2

In [7]:
df1 = df.assign(City = ['Delhi', 'Bangalore', 'Chennai', 'Patna','Lko']) 
df1

        Day Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [11]:
df1.rename(columns={'Day':'Date'},inplace=True)

In [12]:
df1

       Date Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [13]:
df1.Date

0    1/1/2021
1    2/1/2021
2    3/1/2021
3    4/1/2021
4    5/1/2021
Name: Date, dtype: object

In [14]:
df1['Date']

0    1/1/2021
1    2/1/2021
2    3/1/2021
3    4/1/2021
4    5/1/2021
Name: Date, dtype: object

In [16]:
df1

       Date Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [15]:
df1[['Date','Temp','City']]

       Date  Temp       City
0  1/1/2021    33      Delhi
1  2/1/2021    34  Bangalore
2  3/1/2021    43    Chennai
3  4/1/2021    32      Patna
4  5/1/2021    23        Lko

In [17]:
df1['Temp'] == df1['Temp'].max()

0    False
1    False
2     True
3    False
4    False
Name: Temp, dtype: bool

In [18]:
print(df1['Temp'].max())

43

In [19]:
df1[['Date','Temp','City']][df1.Temp == df1.Temp.max()]

       Date  Temp     City
2  3/1/2021    43  Chennai

In [20]:
df1

       Date Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [25]:
#df1.index
df1=df1.set_index('Date')
df1

         Whether  Temp  Wind       City
Date
1/1/2021   Rainy    33     3      Delhi
2/1/2021   Sunny    34     5  Bangalore
3/1/2021    Snow    43     7    Chennai
4/1/2021   Rainy    32     1      Patna
5/1/2021   Sunny    23     2        Lko

In [26]:
df1.loc['4/1/2021']

Whether    Rainy
Temp          32
Wind           1
City       Patna
Name: 4/1/2021, dtype: object

In [29]:
df1=df1.reset_index()
df1

       Date Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [ ]:
# access columns by name
df.columnn_name
df['columnn_name']
df[['columnn_name1','columnn_name2']]
type(df['column_name'])
#operations with dataframe
df['columnn_name'].max()
df['columnn_name'].mean()
df['columnn_name'].min()
df['columnn_name'].std()

In [27]:
df1['Day'].max()

KeyError: 'Day'

In [30]:
df1

       Date Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [31]:
# important
df1.shape

(5, 5)

In [32]:
# important
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     5 non-null      object
 1   Whether  5 non-null      object
 2   Temp     5 non-null      int64
 3   Wind     5 non-null      int64
 4   City     5 non-null      object
dtypes: int64(2), object(3)
memory usage: 328.0+ bytes

In [33]:
# important
df1.describe()

            Temp      Wind
count   5.000000  5.000000
mean   33.000000  3.600000
std     7.106335  2.408319
min    23.000000  1.000000
25%    32.000000  2.000000
50%    33.000000  3.000000
75%    34.000000  5.000000
max    43.000000  7.000000

In [ ]:
df1

In [34]:
# print(df1[df1['Temp'] >=33])
# print()
print(df1[df1['Temp'] == df1.Temp.max()])
print()
print(df1[['Date','Temp']][df1.Temp == df1.Temp.max()])

       Date Whether  Temp  Wind     City
2  3/1/2021    Snow    43     7  Chennai

       Date  Temp
2  3/1/2021    43

In [35]:
df1.isnull()

    Date  Whether   Temp   Wind   City
0  False    False  False  False  False
1  False    False  False  False  False
2  False    False  False  False  False
3  False    False  False  False  False
4  False    False  False  False  False

In [36]:
# important
df1.isnull().sum()

Date       0
Whether    0
Temp       0
Wind       0
City       0
dtype: int64

In [ ]:
df1.notnull()

In [ ]:
df1['Temp'].isnull()

In [ ]:
df1['Temp'].isnull().sum()

# nan values

In [40]:
#pip install numpy
import numpy as np
a = np.nan
b = np.nan
c = None
d = None

In [42]:
print(id(a),id(b),id(c),id(d))

2150122244272 2150122244272 140719990914264 140719990914264

In [41]:
print(a == b)
print(c==d)

False
True

In [43]:
print(a is b)

True

In [44]:
# Doubt
a = int(input("Enter a:"))
b = int(input("Enter b:"))
if a==b:
    print("values are equal")
    if a is b:
        print("Addresses are also equal")
    else:
        print("'values' are equal but 'Address' are not equal")
else:
    print("Values are not equal")

Enter a:23
Enter b:45
Values are not equal

In [45]:
import numpy as np
df2=pd.DataFrame({
    'Day':['1/1/2021','2/1/2021','3/1/2021',np.nan,'5/1/2021'],
    'Whether':['Rainy','Sunny','Snow',np.nan,'Sunny'],
    'Temp':[33,np.nan,43,np.nan,23],
    'Wind':[3,np.nan,7,1,2]
})
df2

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny   NaN   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN   NaN   1.0
4  5/1/2021   Sunny  23.0   2.0

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Day      4 non-null      object
 1   Whether  4 non-null      object
 2   Temp     3 non-null      float64
 3   Wind     4 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

In [ ]:
df2.isnull()

In [46]:
df2.isnull().sum()

Day        1
Whether    1
Temp       2
Wind       1
dtype: int64

In [47]:
# important  
df2['Temp'].unique()

array([33., nan, 43., 23.])

In [48]:
df3=df2.dropna()
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
2  3/1/2021    Snow  43.0   7.0
4  5/1/2021   Sunny  23.0   2.0

In [ ]:
df2

In [49]:
df3=df2.dropna(thresh=3)#it will not delete row which contain atleast 1 value
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
2  3/1/2021    Snow  43.0   7.0
4  5/1/2021   Sunny  23.0   2.0

In [50]:
df2

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny   NaN   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN   NaN   1.0
4  5/1/2021   Sunny  23.0   2.0

In [51]:
df3 = df2.fillna({
    'Day':'Not Av',
    'Whether':'Sunny',
    'Temp':0,
    'Wind':0
})
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny   0.0   0.0
2  3/1/2021    Snow  43.0   7.0
3    Not Av   Sunny   0.0   1.0
4  5/1/2021   Sunny  23.0   2.0

In [ ]:
df2['Day'].unique()

In [ ]:
df3['Day'].unique()

In [52]:
df2

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny   NaN   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN   NaN   1.0
4  5/1/2021   Sunny  23.0   2.0

In [53]:
df3=df2.fillna(method='bfill')
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny  43.0   7.0
2  3/1/2021    Snow  43.0   7.0
3  5/1/2021   Sunny  23.0   1.0
4  5/1/2021   Sunny  23.0   2.0

In [54]:
df3=df2.fillna(method='ffill')
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny  33.0   3.0
2  3/1/2021    Snow  43.0   7.0
3  3/1/2021    Snow  43.0   1.0
4  5/1/2021   Sunny  23.0   2.0

In [56]:
df2

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny   NaN   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN   NaN   1.0
4  5/1/2021   Sunny  23.0   2.0

In [63]:
df3 = df2.set_index('Day')

In [55]:
df3=df2.fillna(method ='pad')
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny  33.0   3.0
2  3/1/2021    Snow  43.0   7.0
3  3/1/2021    Snow  43.0   1.0
4  5/1/2021   Sunny  23.0   2.0

In [72]:
df2

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny   NaN   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN   NaN   1.0
4  5/1/2021   Sunny  23.0   2.0

In [71]:
df3=df2.interpolate()
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny  38.0   5.0
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN  33.0   1.0
4  5/1/2021   Sunny  23.0   2.0

In [73]:
df3=df2.interpolate()
df3

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny  38.0   5.0
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN  33.0   1.0
4  5/1/2021   Sunny  23.0   2.0

In [75]:
df2

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny   NaN   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN   NaN   1.0
4  5/1/2021   Sunny  23.0   2.0

In [74]:
df2['Temp'].mean()

33.0

In [ ]:
df2

In [76]:
df2['Temp'].fillna(df2['Temp'].mean())

0    33.0
1    33.0
2    43.0
3    33.0
4    23.0
Name: Temp, dtype: float64

In [ ]:
df2

In [77]:
df2.Temp=df2['Temp'].fillna(df2['Temp'].mean())
df2

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny  33.0   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN  33.0   1.0
4  5/1/2021   Sunny  23.0   2.0

In [78]:
df2.Temp.mean()

33.0

In [ ]:
#handling null values

In [ ]:
# filling a null values using fillna()  for string 
import pandas as pd
import numpy as np
l2 =["Alpha", "Bravo", np.nan, "Tango", "Mike"] 
l3 =[23, 25, 22, 11, 29] 
df4 = pd.DataFrame((list(zip(l2, l3))))
df4

In [ ]:
df4.fillna("Charlie", inplace = True) 
df4

In [80]:
# save
df2.to_csv('naam',index=False)

In [81]:
new_df=pd.read_csv('naam')

In [82]:
new_df

        Day Whether  Temp  Wind
0  1/1/2021   Rainy  33.0   3.0
1  2/1/2021   Sunny  33.0   NaN
2  3/1/2021    Snow  43.0   7.0
3       NaN     NaN  33.0   1.0
4  5/1/2021   Sunny  23.0   2.0