In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame({
    'Serial_No':[1,2,3,4,5,6,7,8,9,10],
    'Day':['1/1/2021','####','3/1/2021','4/1/2021','5/1/2021','6/1/2021','####','8/1/2021','9/1/2021' ,'10/1/2021'],
    'Whether':['Rainy','....','Snow','Rainy','Sunny','Cloudy','Cloud&Sunny','....','Snow','Hot'],
    'Temp':[33,34,43,32,23,31,56,44,40,50],
    'Wind':[3,5,7,1,2,6,8,9,6,2]
})
df.head(2)

In [ ]:
df['Serial_No']

In [ ]:
df[['Serial_No','Temp']]

In [ ]:
type(df[['Serial_No','Temp']])

In [ ]:
type(df['Serial_No'])

In [ ]:
df

In [ ]:
df.to_csv("Weather")

In [ ]:
df0 = pd.read_csv("Weather")
df0

In [ ]:
df.to_csv("Weather1",sep = '#')

In [ ]:
df1 = pd.read_csv("Weather1")
df1

In [ ]:
df11 = pd.read_csv("Weather1",sep="#")
df11

In [ ]:
df.to_csv("Weather2",index=False)

In [ ]:
df.to_csv("Weather3",header=False,)

In [ ]:
df3 = pd.read_csv("Weather3",header=None)
df3

In [ ]:
df.head(5)

In [ ]:
df  = pd.read_csv("Weather2")
df.head(4)

In [ ]:
df  = pd.read_csv("Weather2",names=['Index','Date','Report','Tempreture','Wind_speed'])
df.head(4)

In [ ]:
df1 = pd.read_csv("Weather2",skiprows=[4,6])
df1

In [ ]:
# Remove all odd indexes 
#

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['Day'].unique()

In [ ]:
df

In [ ]:
df['Whether'].unique()

In [ ]:
df1 = pd.read_csv('Weather2',na_values=['####','....'])
df1

In [ ]:
df1 = pd.read_csv('Weather2',na_values=['Rainy'])
df1

In [ ]:
df1.describe()

In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({"Col":[1,1,1,2,2,3,4,8]})
df

   Col
0    1
1    1
2    1
3    2
4    2
5    3
6    4
7    8

In [ ]:
1,1,1,2,2,3,4,8

In [7]:
df.describe()

           Col
count  8.00000
mean   2.75000
std    2.37547
min    1.00000
25%    1.00000
50%    2.00000
75%    3.25000
max    8.00000